# Compiler files
cache/
node_modules
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# files
*.env
*.log
.DS_Store
.pnp.*
package-lock.json
pnpm-lock.yaml
yarn.lock
