# Compiler files
cache/
node_modules
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# local files
*.local

# env files
.env
.env.testnet

# deploy tool packages
/generated
/deployments/
/deployments/localhost
# /deployments/localhost.
# /deployments/31337
# /deployments/31337.
/deployments/void
# /deployments/void.

# forge: we do not use submodule instead we specify dependencies in package.json `prepare` script
# if you use git and want to make use of the submodule
# delete that line and execute `just reinstall git`
/lib
# npm
node_modules/

# vscode
.vscode/*
!.vscode/extensions.json
!*.default

.DS_Store